.side-chat-list {
  border-right: 1px solid lightgrey;
  height: 70vh;
  overflow-y: overlay;
  padding-left: 0px;
  padding-right: 0px;
}

.card {
  border: 0px;
  border-bottom: 1px solid grey;
  height: 60px !important;
}

mat-list-item::ng-deep .mat-list-item-content {
  display: block !important;
}

.email-ellipsis {
  width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.name-ellipsis {
  width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.active {
  background-color: #add8e652;
}

.card:hover {
  cursor: pointer;
}

.search-field {
  width: 80%;
}

.search-container {
  background-color: lightgrey;
  padding: 10px;
  border-radius: 5px;
}

.chat-header {
  padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #0000008a;
    color: white;
}

.no-users {
  font-size: 24px;
  margin-top: 10px;
}

.message-input {
  width: 100%;
  position: absolute;
  bottom: -44px;
}

mat-form-field.message-input::ng-deep .mat-form-field-infix {
  border: 1px solid grey;
  padding-top: 5px !important;
  padding-bottom: 2px !important;
}

.incoming {
  padding: 8px;
  width: fit-content;
  max-width: 50%;
  margin: 5px;
  border-radius: 0px 15px;
  background-color: ghostwhite;
  margin-top: 10px;
  margin-bottom: 10px;
}

.outgoing {
  padding: 8px;
  width: fit-content;
  max-width: 50%;
  margin: 5px;
  border-radius: 15px 0px;
  background-color: antiquewhite;
  margin: 0 auto;
  margin-right: 20px !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

.message-body-container{
  height: 60vh;
  /* overflow-y: hidden; */
  overflow: overlay;
 }
