<div class="container main">
  <app-bread-crumb [breadCrumbs]="breadCrumbs"></app-bread-crumb>
  <div class="row m-b-10 action-buttons">
    <div class="col-sm-6">
      <mat-form-field style="width: 170px">
        <input matInput placeholder="Search by Name or ID" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"
          (keyup)="search()">
      </mat-form-field>
    </div>
    <div class="col-sm-6 text-right">
      <button mat-raised-button class="success m-t-10" [routerLink]="['/companies/details']">Add Company</button>
    </div>
  </div>
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 custom-table" (matSortChange)="sortChange($event)">
    <ng-container matColumnDef="companyID">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Company ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.companyID}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="companyName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.companyName | titlecase}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Created On </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.createdAt | date: 'dd/MMM/yyyy hh:mm:ss'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="updatedAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated On </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.updatedAt | date: 'dd/MMM/yyyy hh:mm:ss'}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="pointer" *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
  <mat-paginator [length]="list.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
