<div class="container main">
  <form>
    <mat-card>
      <div class="row">
        <div class="col-md-6">
          <div class="h-px-70">
            <mat-form-field class="w-p-100">
              <input matInput placeholder="Previous Company Name">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-px-70">
            <mat-form-field class="w-p-100">
              <input matInput placeholder="Location">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-px-70">
            <mat-form-field class="w-p-100">
              <input matInput placeholder="Location">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-px-70">
            <mat-form-field class="w-p-100">
              <input matInput placeholder="Role">
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-6">
          <div class="h-px-70">
            <mat-form-field class="w-p-100">
              <input matInput [matDatepicker]="startDate" placeholder="Start date">
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-6">
          <div class="h-px-70">
            <mat-form-field class="w-p-100">
              <input matInput [matDatepicker]="endDate" placeholder="End date">
              <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end action-buttons">
        <button mat-raised-button class="save">Save</button>
      </div>
    </mat-card>
  </form>
</div>
