<div class="pointer main" (clickOutside)="isPopOpen = false">
  <i class="material-icons account-icon" (click)="isPopOpen = !isPopOpen">
    account_circle
  </i>
  <div *ngIf="isPopOpen" id="popup">
    <div class="arrow-up">
    </div>
    <div class="popup">
      <div class="row w-px-250">
        <div class="col-4">
          <img src="../../../../../../assets/images/one.jpg" height="50" width="50" class="circle" />
        </div>
        <div class="col-8">
          <p class="m-b-0">Name</p>
          <p class="m-b-0 color-grey">ID</p>
        </div>
      </div>
      <hr class="m-t-10 m-b-10">
      <div class="d-flex justify-content-between action-buttons">
        <button mat-mini-fab class="success pointer" (click)="goToProfile()">
          <i class="material-icons">
            account_circle
          </i>
        </button>
        <button mat-mini-fab class="save pointer" (click)="goToLogin()">
          <i class="material-icons">
            exit_to_app
          </i>
        </button>
      </div>
    </div>
  </div>
</div>
