<div class="container main">
  <app-bread-crumb [breadCrumbs]="breadCrumbs"></app-bread-crumb>
  <div class="row m-b-10 action-buttons">
    <div class="col-sm-6">
      <ng-container *ngIf="list.length > 0">
        <mat-form-field style="width: 170px">
          <input matInput placeholder="Search by Name or ID" [(ngModel)]="searchValue"
            [ngModelOptions]="{standalone: true}" (keyup)="search()">
        </mat-form-field>
      </ng-container>
    </div>
    <div class="col-sm-6 text-right">
      <button mat-raised-button class="success m-t-10" [routerLink]="['/employees/details']">Add employee</button>
    </div>
  </div>
  <ng-container *ngIf="list.length <= 0 || listLength <= 0">
    <app-no-records-found></app-no-records-found>
  </ng-container>
  <ng-container *ngIf="listLength > 0">
  <ng-container *ngIf="list.length > 0">
    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 custom-table"
      (matSortChange)="sortChange($event)">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Employee ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name | titlecase}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>
      <!--
    <ng-container matColumnDef="createdBy">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Created By</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.createdBy}} </mat-cell>
    </ng-container> -->

      <!-- <ng-container matColumnDef="updatedBy">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Updated By </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.updatedBy}} </mat-cell>
    </ng-container> -->

      <ng-container matColumnDef="designation">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Designation </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.designation}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row class="pointer" *matRowDef="let row; columns: displayedColumns;" (click)="navigateToEmployeeEdit(row)">
      </mat-row>
    </mat-table>
  </ng-container>
</ng-container >
  <ng-container *ngIf="listLength > 0">
    <mat-paginator *ngIf="list.length > 0" [length]="list.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </ng-container>
</div>
