<div class="container main">
    <app-bread-crumb [breadCrumbs]="breadCrumbs"></app-bread-crumb>
    <div class="row m-b-10 action-buttons">
      <div class="col-sm-6">
        <mat-form-field style="width: 170px">
          <input matInput placeholder="Search by Name or ID" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"
            (keyup)="search()">
        </mat-form-field>
      </div>
      <div class="col-sm-6 text-right">
        <button mat-raised-button class="success m-t-10" [routerLink]="['/employees/details']">Create employee</button>
      </div>
    </div>
    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 custom-table" (matSortChange)="sortChange($event)">
      <ng-container matColumnDef="employeeID">
        <mat-header-cell *matHeaderCellDef mat-sort-header> employee ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.employeeID}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="employeeName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> employee Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.employeeName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="employeeEmail">
        <mat-header-cell *matHeaderCellDef mat-sort-header> employee Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.employeeEmail}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="createdBy">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Created by</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.createdBy}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="updatedBy">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Updated by </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.updatedBy}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row class="pointer" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
    </mat-table>
    <mat-paginator [length]="list.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
  