<div class="container main">
  <div class="d-flex justify-content-center">
    <p class="bulk-upload-label">Bulk Upload</p>
  </div>
  <div class="position-relative">
    <input class="form-control" type="file" #fileInput style="display: none;" accept=".xlsx" (change)="fileChanged($event)"/>
    <input type="text" class="input-browse" readonly placeholder="Browse file" [value]="selectedFileName ? selectedFileName : ''" (click)="fileInput.value = null;fileInput.click()" />
    <button class="primary" class="browse-button" (click)="fileInput.click()">Browse</button>
  </div>
  <div class="d-flex justify-content-center m-t-10">
    For Sample template <a href="assets/files/sample.xlsx" class="p-l-10"> Download Here</a>
  </div>
  <div class="m-t-25 action-buttons d-flex justify-content-center">
    <button mat-raised-button class="cancel m-r-10 h-34" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button class="save h-34" (click)="uploadFile()">Upload</button>
  </div>
</div>
