<Div class="container main">
  <form [formGroup]="resetpasswordForm" novalidate (ngSubmit)="resetPasswordSubmit()" #resetForm="ngForm">
    <div class="row">
      <div class="col-md-6">
        <div class="h-px-70">
          <mat-form-field class="w-p-100">
            <input matInput type="password"  placeholder="Current Password" required formControlName="password">
          </mat-form-field>
          <div [hidden]="!isValidField('password')">
            <p class="error m-b-0">
              {{getErrorMessage(resetpasswordForm, validationMessages, 'password')}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-px-70">
          <mat-form-field class="w-p-100">
            <input matInput type="password" placeholder="New Password" required formControlName="newPassword">
          </mat-form-field>
          <div [hidden]="!isValidField('newPassword')">
            <p class="error m-b-0">
              {{getErrorMessage(resetpasswordForm, validationMessages, 'newPassword')}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-px-70">
          <mat-form-field class="w-p-100">
            <input matInput type="password"  placeholder="Confirm Password" required formControlName="confirmPassword">
          </mat-form-field>
          <div [hidden]="!isValidField('confirmPassword')">
            <p class="error m-b-0">
              {{getErrorMessage(resetpasswordForm, validationMessages, 'confirmPassword')}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end action-buttons">
      <button mat-raised-button class="save m-t-10" [disabled]="resetpasswordForm.invalid">Reset</button>
    </div>
  </form>
</Div>
