<div id="sideNavigation" class="sidenav" (clickOutside)="outsideClick()">
  <div class="d-flex justify-content-end">
    <a class="closebtn pointer" (click)="closeNav()">&times;</a>
  </div>
  <div class="d-flex flex-wrap">
    <a class="pointer" routerLinkActive="active-link" [routerLink]="['/dashboard']" (click)="closeNav()">
      <span class="material-icons font-size-100">
        home
      </span>
      <p class="text-center m-t-n-20">Home</p>
    </a>
    <a class="pointer" routerLinkActive="active-link" [routerLink]="['/profile']" (click)="closeNav()">
      <span class="material-icons font-size-100">
        person_outline
      </span>
      <p class="text-center m-t-n-20">Profile</p>
    </a>
    <a class="pointer" routerLinkActive="active-link" [routerLink]="['/companies']" (click)="closeNav()"
      *ngIf="roleToAccess.isSuperAdmin">
      <span class="material-icons font-size-100">
        format_list_bulleted
      </span>
      <p class="text-center m-t-n-20">Companies</p>
    </a>
    <a class="pointer" routerLinkActive="active-link" [routerLink]="['/employees']" (click)="closeNav()"
      *ngIf="roleToAccess.isAdmin">
      <span class="material-icons font-size-100">
        group
      </span>
      <p class="text-center m-t-n-20">Employees</p>
    </a>
  </div>
</div>
<div class="d-flex justify-content-between nav-style">
  <div>
    <button mat-button (click)="openNav()" class="remove-outline">
      <i class="material-icons font-size-45">view_module</i>
    </button>
    <img src="../../../../../assets/images/logo.jpg" height="50" class="p-t-5 p-b-5" />
  </div>
  <div class="m-t-5">
    <ng-autocomplete [data]="autoCompleteResult" [searchKeyword]="keyword" (selected)='selectEvent($event)'
      [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" placeHolder="Search By Name or Employee ID or Employee Email">
    </ng-autocomplete>
  </div>
  <div>
    <app-account-box></app-account-box>
  </div>
</div>

<div id="main" (click)="closeNav()">
  <router-outlet></router-outlet>
</div>



<ng-template #itemTemplate let-item>
  <a [innerHTML]="item.autoComplete"></a>
</ng-template>

<ng-template #notFoundTemplate let-notFound>
  <div [innerHTML]="notFound"></div>
</ng-template>
