<div class="container main">
  <form [formGroup]="employeeForm" (ngSubmit)="employeeDetails()">
    <app-bread-crumb [breadCrumbs]="breadCrumbs"></app-bread-crumb>
    <div class="row">
      <div class="col-md-6">
        <div class="h-px-70">
          <mat-form-field class="w-p-100">
            <input matInput placeholder="Employee Name" required formControlName="name">
          </mat-form-field>
          <div [hidden]="!isValidField('name')">
            <p class="error m-b-0">{{getErrorMessage(employeeForm, validationMessages, 'name')}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-px-70">
          <mat-form-field class="w-p-100">
            <input matInput placeholder="Employee ID" required formControlName="id">
          </mat-form-field>
          <div [hidden]="!isValidField('id')">
            <p class="error m-b-0">{{getErrorMessage(employeeForm, validationMessages, 'id')}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-px-70">
          <mat-form-field class="w-p-100">
            <input matInput placeholder="Employee Email" required formControlName="email">
          </mat-form-field>
          <div [hidden]="!isValidField('email')">
            <p class="error m-b-0">{{getErrorMessage(employeeForm, validationMessages, 'email')}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6"> 
        <div class="h-px-70">
          <mat-form-field class="w-p-100">
            <input matInput [matDatepicker]="dateOfJoiningPicker" placeholder="Employee Date of Joining" required
              formControlName="dateOfJoining">
            <mat-datepicker-toggle matSuffix [for]="dateOfJoiningPicker"></mat-datepicker-toggle>
            <mat-datepicker #dateOfJoiningPicker startView="year" [startAt]="startDate"></mat-datepicker>
          </mat-form-field>
          <div [hidden]="!isValidField('dateOfJoining')">
            <p class="error m-b-0">{{getErrorMessage(employeeForm, validationMessages, 'dateOfJoining')}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
          <div class="h-px-70">
              <mat-form-field class="w-p-100">
                  <mat-label>Employee Designation</mat-label>
                  <mat-select required formControlName='designation'>
                      <ng-container *ngFor="let designation of designationConst">
                          <mat-option [value]="designation.id">
                              {{designation.label}}
                          </mat-option>
                      </ng-container>
                  </mat-select>
              </mat-form-field>
              <div [hidden]="!isValidField('designation')">
                  <p class="error m-b-0">{{getErrorMessage(employeeForm, validationMessages, 'designation')}}</p>
                </div>
          </div>
      </div>
      <div class="col-md-6">
        <div class="h-px-70">
          <mat-form-field class="w-p-100">
            <mat-label>Status</mat-label>
            <mat-select required formControlName='status'>
              <ng-container *ngFor="let status of statusConst">
                <mat-option [value]="status.id">
                  <p>{{status.label}}</p>
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <div [hidden]="!isValidField('status')">
            <p class="error m-b-0">{{getErrorMessage(employeeForm, validationMessages, 'status')}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end action-buttons">
      <button mat-raised-button class="cancel m-t-10 m-r-10" [routerLink]="['/employees']">Cancel</button>
      <button mat-raised-button type="submit" class="save m-t-10" [disabled]="employeeForm.invalid">{{employeeID ? 'Update' : 'Create' }}</button>
    </div>
  </form>
</div>