<div class="container main">
    <form [formGroup]="superAdminForm">
        <app-bread-crumb [breadCrumbs]="breadCrumbs"></app-bread-crumb>
        <div class="row">
            <div class="col-md-6">
                <div class="h-px-70">
                    <mat-form-field class="w-p-100">
                        <input matInput placeholder="Company Name" required formControlName="companyName">
                    </mat-form-field>
                    <div [hidden]="!isValidField('companyName')">
                        <p class="error m-b-0">{{getErrorMessage(superAdminForm, validationMessages, 'companyName')}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-px-70">
                    <mat-form-field class="w-p-100">
                        <input matInput placeholder="Company ID" required formControlName="companyId">
                    </mat-form-field>
                    <div [hidden]="!isValidField('companyId')">
                        <p class="error m-b-0">{{getErrorMessage(superAdminForm, validationMessages, 'companyId')}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-px-70">
                    <mat-form-field class="w-p-100">
                        <input matInput placeholder="Super Admin Name / Representative Name" required
                            formControlName="superAdminName">
                    </mat-form-field>
                    <div [hidden]="!isValidField('superAdminName')">
                        <p class="error m-b-0">{{getErrorMessage(superAdminForm, validationMessages, 'superAdminName')}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-px-70">
                    <mat-form-field class="w-p-100">
                        <input matInput placeholder="Employee ID" required formControlName="employeeId">
                    </mat-form-field>
                    <div [hidden]="!isValidField('employeeId')">
                        <p class="error m-b-0">{{getErrorMessage(superAdminForm, validationMessages, 'employeeId')}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-px-70">
                    <mat-form-field class="w-p-100">
                        <mat-label>Employee Designation</mat-label>
                        <mat-select required formControlName='employeeDesignation'>
                            <ng-container *ngFor="let employeeDesignation of employeeDesignationConst">
                                <mat-option [value]="employeeDesignation.id">
                                    {{employeeDesignation.label}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <div [hidden]="!isValidField('employeeDesignation')">
                        <p class="error m-b-0">
                            {{getErrorMessage(superAdminForm, validationMessages, 'employeeDesignation')}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-px-70">
                    <mat-form-field class="w-p-100">
                        <input matInput placeholder="Admin Email / Company Email" required
                            formControlName="companyEmail">
                    </mat-form-field>
                    <div [hidden]="!isValidField('companyEmail')">
                        <p class="error m-b-0">{{getErrorMessage(superAdminForm, validationMessages, 'companyEmail')}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-px-70">
                    <mat-form-field class="w-p-100">
                        <input matInput placeholder="Office Mobile" required formControlName="companyMobileNumber">
                    </mat-form-field>
                    <div [hidden]="!isValidField('companyMobileNumber')">
                        <p class="error m-b-0">
                            {{getErrorMessage(superAdminForm, validationMessages, 'companyMobileNumber')}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-px-70">
                    <mat-form-field class="w-p-100">
                        <mat-label>Status</mat-label>
                        <mat-select required formControlName='status'>
                            <ng-container *ngFor="let status of statusConst">
                                <mat-option [value]="status.id">
                                    <p>{{status.label}}</p>
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <div [hidden]="!isValidField('status')">
                        <p class="error m-b-0">{{getErrorMessage(superAdminForm, validationMessages, 'status')}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-px-70">
                  <mat-form-field class="w-p-100">
                    <input matInput [matDatepicker]="picker" placeholder="Start Date Of Contract" required
                      formControlName="startDateOfContract">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                  </mat-form-field>
                  <div [hidden]="!isValidField('startDateOfContract')">
                    <p class="error m-b-0">{{getErrorMessage(superAdminForm, validationMessages, 'startDateOfContract')}}</p>
                  </div>
                </div>
              </div>
        </div>
        <div class="d-flex justify-content-end action-buttons">
            <button mat-raised-button class="cancel m-t-10 m-r-10" [routerLink]="['/companies']">Cancel</button>
            <button mat-raised-button class="save m-t-10" [disabled]="superAdminForm.invalid">Registration</button>
        </div>
    </form>
</div>