<div class="container main">
    <form [formGroup]="personalDetailsForm" (ngSubmit)="personalDetails()">
        <div class="row">
            <div class="col-md-6">
                <div class="h-px-70">
                    <mat-form-field class="w-p-100">
                        <input matInput placeholder="Full Name" formControlName="name">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-px-70">
                    <mat-form-field class="w-p-100">
                        <mat-label>Gender</mat-label>
                        <mat-select formControlName='gender'>
                            <ng-container *ngFor="let gender of  genderConst">
                                <mat-option [value]="gender.id">
                                    {{gender.label}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-px-70">
                    <mat-form-field class="w-p-100">
                        <input matInput [matDatepicker]="picker" placeholder=" Date Of Birth"
                            formControlName="dateOfBirth" readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-px-70">
                    <mat-form-field class="w-p-100">
                        <input matInput placeholder="Email ID" formControlName="email">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-px-70">
                    <mat-form-field class="w-p-100">
                        <input matInput placeholder="Phone Number" formControlName="phone">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-px-70">
                    <mat-form-field class="w-p-100">
                        <input matInput placeholder="Country" formControlName="country">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-px-70">
                    <mat-form-field class="w-p-100">
                        <input matInput placeholder="State" formControlName="state">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-px-70">
                    <mat-form-field class="w-p-100">
                        <input matInput placeholder="City" formControlName="city">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-px-70">
                    <mat-form-field class="w-p-100">
                        <input matInput placeholder="Pin Code" formControlName="pinCode">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-12">
                <div class="h-px-70">
                    <mat-form-field class="w-p-100">
                        <textarea matInput placeholder="Address" rows="2" formControlName="address"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end action-buttons">
            <!-- <button mat-raised-button class="cancel m-t-10 m-r-10" [routerLink]="['/employees']">Cancel</button> -->
            <button mat-raised-button class="save m-t-20">Save</button>
        </div>
    </form>
</div>