<div class="auth">
    <app-auth-header headerLabel="forgot password"></app-auth-header>
    <form class="p-l-20 p-r-20">
      <mat-form-field class="w-p-100">
        <input matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field class="w-p-100">
        <input matInput placeholder="Company ID">
      </mat-form-field>
      <button mat-raised-button color="primary" class="btn-block">Request Paswaord</button>
      <div class="d-flex justify-content-end m-t-10">
        <div class="link-color pointer">
          <p class="m-b-0 remove-outline" [routerLink]="['/login']">Login?</p>
        </div>
      </div>
    </form>
  
  </div>
  