<div class="auth">
  <app-auth-header headerLabel="forgot password"></app-auth-header>
  <form [formGroup]="forgetPasswordForm" class="p-l-20 p-r-20">

    <div class="h-px-70">
      <mat-form-field class="w-p-100">
        <input matInput placeholder="Username" formControlName="email">
      </mat-form-field>
      <div [hidden]="!isValidField('email')">
        <p class="error m-b-0">{{getErrorMessage(forgetPasswordForm, validationMessages, 'email')}}</p>
      </div>
    </div>

    <div class="h-px-70">
      <mat-form-field class="w-p-100">
        <input matInput placeholder="Company ID" formControlName="companyID">
      </mat-form-field>
      <div [hidden]="!isValidField('companyID')">
        <p class="error m-b-0">{{getErrorMessage(forgetPasswordForm, validationMessages, 'companyID')}}</p>
      </div>
    </div>
    <button mat-raised-button color="primary" class="btn-block m-t-20">Request Paswaord</button>
    <div class="d-flex justify-content-end m-t-10">
      <div class="link-color pointer">
        <p class="m-b-0 remove-outline" [routerLink]="['/login']">Login?</p>
      </div>
    </div>
  </form>

</div>
