/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


html, body { height: 100%; }
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Stylish', sans-serif;
}
.pointer {
    cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
}
.dark-modal .modal-content {
    background-color: transparent;
    border: none;
}

// auth layout common styles
.auth {
  .title {
    color: grey;
    font-weight: 500;
    font-size: 30px;
  }
  .link-color {
    color: grey;
    border-bottom: 1px solid white;
  }
  .link-color:hover {
    color: blue;
    border-bottom:1px solid;
  }
  .remove-outline:focus {
    outline: none;
  }
}

// form field changes

.mat-form-field {
  height: 55px;
}
.mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: rgba(87, 91, 91, 0.1803921568627451) !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: #585b5b !important;
  margin-top: 0px;
}

.mat-form-field-empty.mat-form-field-label {
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #585b5b !important;
  top: 20px !important;
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #585b5b;
}

::ng-deep .mat-focused {
  color: #585b5b !important;
}

::ng-deep .mat-form-field {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #585b5b !important;
  letter-spacing: 0px;
}

.mat-form-field-infix {
  padding-top: 14px !important;
}

.mat-option-text {
  color: #333f48 !important;
}

.mat-option {
  font-size: 12px !important;
}
