/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


html, body { height: 100%; }
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Stylish', sans-serif;
}
.pointer {
    cursor: pointer;
}

.circle {
  border-radius: 50%;
}

.error {
  color: red;
  font-size: 14px;
}
.dark-modal .modal-content {
    background-color: transparent;
    border: none;
}

// auth layout common styles
.auth {
  .title {
    color: grey;
    font-weight: 500;
    font-size: 30px;
  }
  .link-color {
    color: grey;
    border-bottom: 1px solid white;
  }
  .link-color:hover {
    color: blue;
    border-bottom:1px solid;
  }
  .remove-outline:focus {
    outline: none;
  }
}

// form field changes

.mat-form-field {
  height: 55px;
}
.mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: rgba(87, 91, 91, 0.1803921568627451) !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: #585b5b !important;
  margin-top: 0px;
}

.mat-form-field-empty.mat-form-field-label {
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #585b5b !important;
  top: 20px !important;
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #585b5b;
}

::ng-deep .mat-focused {
  color: #585b5b !important;
}

::ng-deep .mat-form-field {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #585b5b !important;
  letter-spacing: 0px;
}

.mat-form-field-infix {
  padding-top: 14px !important;
}

.mat-option-text {
  color: #333f48 !important;
}

.mat-option {
  font-size: 12px !important;
}


// mat table changes
.main {
  .action-buttons {
    .mat-raised-button {
      border-radius: 24px;
      min-width: 125px;
      outline: none;
    }
    .mat-mini-fab {
      outline: none;
    }
    .mat-fab {
      outline: none;
    }
    .mat-raised-button.success {
      background-color: darkblue;
      color: white;
      height: 40px;
      text-transform: capitalize;
    }
    .mat-raised-button.save {
      background-color: green;
      color: white;
      height: 40px;
    }
    .mat-raised-button.cancel {
      background-color: black;
      color: white;
      height: 40px;
    }
    .mat-raised-button[disabled][disabled] {
      background-color: grey;
      color: white
    }

    .mat-raised-button {
      border-radius: 24px;
      min-width: 125px;
      outline: none;
    }
    .mat-fab.success,.mat-mini-fab.success {
      background-color: darkblue;
      color: white;
    }
    .mat-fab.save,.mat-mini-fab.save {
      background-color: green;
      color: white;
    }
    .mat-fab.cancel,.mat-mini-fab.cancel {
      background-color: black;
      color: white;
    }
    .mat-fab[disabled][disabled],.mat-mini-fab[disabled][disabled] {
      background-color: grey;
      color: white;
    }
  }
  .custom-table {
    mat-header-row.mat-header-row {
      background-color: darkblue;
    }
    mat-header-cell.mat-header-cell {
      color: white;
      text-transform: capitalize;
      cursor: pointer;
      justify-content: flex-start;
    }
    mat-cell.mat-cell {
      color: black;
      font-weight: 400;
      font-size: 14px;
    }
    mat-row.mat-row:nth-child(odd) {
      background-color: #80808017;
      border-bottom: none;
    }
    mat-cell.mat-cell {
      justify-content: flex-start;
    }
    .mat-sort-header-arrow {
      color: white;
    }
    .mat-sort-header-button {
      outline: none;
    }
  }

  .mat-tab-label-active {
    // background-color: #00008b38;
    color: black;
  }
  .mat-tab-label-active.cdk-mouse-focused {
    color:grey;
  }
  .mat-tab-body {
    margin: 10px;
    padding: 20px;
    background-color: #dfdfdf1a;
  }

  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: darkblue;
  }
}

.required::-webkit-input-placeholder:after {
  content: " *";
  color: red;
}

.required:-moz-placeholder:after {
  content: " *";
  color: red;
}

.required:-ms-input-placeholder:after {
  content: " *";
  color: red;
}

