/* Hacks */

svg {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0);
}

.login-logo {
  height: 100px;
}

.heading-section-title {
  font-size: 24px;
  color: #696969;
}

.mat-drawer-container {
  background-color: #fff !important;
  color: #696969 !important;
}

.eye-icon {
  font-size: 18px;
  cursor: pointer;
}

.mat-form-field {
  margin-top: 10px;
  margin-bottom: 10px;
}

.align-center {
  align-items: center;
}

.page-title {
  font-size: 22px;
  font-weight: bold;
  color: #696969;
}

.page-title-light {
  font-size: 22px;
  font-weight: normal;
  color: #696969;
}

.apploadercontainer .mat-dialog-container {
  border-radius: 20px !important;
}

.no-data-found {
  height: auto;
  font-style: italic;
  text-align: center;
  padding: 20px;
  border-top: 0;
  color: #696969;
}

.fill-remaining-space {
  flex: 1 1 auto;
}
