<div class="auth">
  <app-auth-header headerLabel="login"></app-auth-header>
  <form [formGroup]="loginForm" class="p-l-20 p-r-20" (ngSubmit)="login()">

    <div class="h-px-70">
      <mat-form-field class="w-p-100">
        <input matInput placeholder="Username" formControlName="email">
      </mat-form-field>
      <div [hidden]="!isValidField('email')">
        <p class="error m-b-0">{{getErrorMessage(loginForm, validationMessages, 'email')}}</p>
      </div>
    </div>

    <div class="h-px-70">
      <mat-form-field class="w-p-100">
        <input matInput placeholder="Password" formControlName="password">
      </mat-form-field>
      <div [hidden]="!isValidField('password')">
        <p class="error m-b-0">{{getErrorMessage(loginForm, validationMessages, 'password')}}</p>
      </div>
    </div>

    <div class="h-px-70">
      <mat-form-field class="w-p-100">
        <input matInput placeholder="Company ID" formControlName="companyID">
      </mat-form-field>
      <div [hidden]="!isValidField('companyID')">
        <p class="error m-b-0">{{getErrorMessage(loginForm, validationMessages, 'companyID')}}</p>
      </div>
    </div>
    <button mat-raised-button color="primary" class="btn-block m-t-10" [disabled]="loginForm.invalid">Login</button>
    <div class="d-flex justify-content-between m-t-10">
      <div class="link-color pointer">
        <a>Register Here</a>
      </div>
      <div class="link-color pointer">
        <p class="m-b-0 remove-outline" [routerLink]="['/forgot-password']">Forgot Password?</p>
      </div>
    </div>
  </form>

</div>
